prefix: "<yellow>µHomes <dark_gray>»"

messages:
  reload: "<green>Config reloaded!"
  player_only_command: "<red>This command can only be used by players!"
  home_limit:
    - "<red>You have reached your home limit <bold><home_limit></bold>."
    - "<red>You can delete or relocate one of your homes."
  home_name_limit:
    - "<red>Your home name can only be up to <amount> characters."
    - "<#F78383><italic><home_name> is <home_name_char_size> characters."
  home_name_not_valid:
    - "<red>Invalid characters found in <#F78383><italic><home_name></italic><red>."
    - "<#F78383><italic><invalid_characters>"
  home_name_already_in_use: "<red>You already have a home named <#F78383><italic><home_name></italic><red>."
  sethome: "<gray>Home <#F78383><italic><home_name></italic> <gray>successfully saved."
  no_home_with_that_name: "<red>You don't have a home named <#F78383><italic><home_name></italic><red>."

sounds:
  reload: entity.villager.yes
  home_limit: entity.villager.no
  home_name_limit: entity.villager.no
  home_name_not_valid: entity.villager.no
  home_name_already_in_use: entity.villager.no
  sethome: block.respawn_anchor.set_spawn
  no_home_with_that_name: entity.villager.no

# permission to calculate home limit of a player
# for example if player has a "home.limit.5" permission he/she
# can't save more than 5 homes.
home_limit_permission: "home.limit."

# true: sum all home limit permissions.
#  ex: if player has "home.limit.2" and "home.limit.4" permissions
#      his/her home limit would be 6.
# false: use highest home limit permission
sum_limit_permissions: true

home_name_character_limit: 32

home_name_valid_characters: "^[\\w\\-\\s]+$"

# true: opens an input gui to player asking for name of the home
# false: saves the home without a name (can be changed later)
ask_for_name_before_save: false

gui:
  title: "<yellow><bold>Homes"
  fill:
    # use AIR to not fill the inventory
    material: BLACK_STAINED_GLASS_PANE
    name: " "

  # set amount of home icon itemstack to current index
  # this will override custom icons' itemstack amounts
  # for example homes will be listed like 1, 2, 3, 4 amount of items
  index_amount: true

  default_home_icon:
    material: WHITE_BED
    name: "<yellow><name>"
    lore:
      - ""
      - " <white>World: <world> "
      - " <white>X: <gold><x> "
      - " <white>Y: <gold><y> "
      - " <white>Z: <gold><z> "
      - ""
      - " <white>Created At: "
      - "  <gold><created:'yyyy-MM-dd HH:mm:ss'> "
      - ""
      - " <white>Last Teleport: "
      - "  <gold><lastteleport:'yyyy-MM-dd HH:mm:ss'> "
      - ""
      - " <yellow>Left Click to teleport "
      - " <yellow>Right Click to rename "
      - " <yellow>Shift + Left Click to relocate "
      - " <yellow>Shift + Right Click to delete "
      - " <yellow>Click with item to set icon "
      - ""
  no_home:
    material: BARRIER
    name: "<red>You have no home!"
    lore:
      - ""
      - " &eClick to sethome! "
      - ""
  sethome:
    material: CARTOGRAPHY_TABLE
    name: "<yellow><homesize><bold>/</bold><maxhomesize>"
    lore:
      - ""
      - " <yellow>Click to create new home! "
      - ""

world_names:
  world: "<green>World"
  world_nether: "<red>Nether"
  world_the_end: "<yellow>End"

commands:
  home:
    name: "home"
    description: "Base home command."
    usage: "/home [<homeName>]"
    permission: "uhomes.home"
    permission_message: "<red>You don't have <underlined><permission></underlined> permission!"
    permission_sounds: entity.villager.no
    aliases:
      - homes
      - uhomes
  sethome:
    name: "sethome"
    description: "Home command to save homes."
    usage: "/sethome <homeName>"
    permission: "uhomes.sethome"
    permission_message: "<red>You don't have <underlined><permission></underlined> permission!"
    permission_sounds:
      - entity.villager.no
    aliases:
      - usethome
      - setuhome