name: uHomes Plugin CI

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  compile-plugin:
    runs-on: ubuntu-latest
    
    permissions:
      contents: read

    steps:
      - name: Fetch repository
        uses: actions/checkout@v4

      - name: Configure Java 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Compile uHomes plugin
        run: mvn -B package --file pom.xml

      - name: Store compiled JAR
        uses: actions/upload-artifact@v4
        with:
          name: uHomes-plugin
          path: target/uHomes-*.jar
          retention-days: 14
